/* not active */
/* .nav-pills .tab .nav-link:not(.active) {
    background-color: #fff;
    color: #223844;
} */

/* active*/
/* .nav-pills .tab .nav-link .active {
    background-color: #fff;
    color: #fab400;
} */
